body {
    padding: 10px;
    width: 810px;
    margin: 20px;
    margin-left: 120px;
}

header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    background-color: rgba(241, 193, 102, 0.055);
    border: solid black 1px;
}

aside{
  padding-left: 30%;
  padding-right: 20%;
  padding-top: 5%;
}

main {
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4), 0 5px 15px 0 rgba(0, 0, 0, 0.2);
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

section{
    padding: 5%
}

h1 { 
    text-align: center; 
}




.Personal {
    color: rgb(24, 62, 77);
}
